body {
    /* background: url(/images/Other/LoremIpsumMain.jpg); */
    background: #353535;
}

* {
    box-sizing: border-box;
}

.jumbotron {
    background: rgb(197, 197, 197);
    margin-top: 1%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
}

.jumbotron h1,
.container h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.profile-img {
    margin-top: -2.2em;
    width: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.navbar {
    margin-top: -3.2em;
}

#cv, #contact, #letter {
    display: none;    
}
